<section id="about-me" class="about-me">
    <h1 class="title">{{title}}</h1>
    <p class="description">{{description}}</p>
        <app-blob [id]="'blob14'" [fill]="'none'" [strokeWidth]="1" [strokeColor]="'white'" [drag]="false" [width]="8" [top]="27" [left]="15" [rotate]="true"></app-blob>
        <app-blob [id]="'blob15'" [fill]="'none'" [strokeWidth]="1" [strokeColor]="'white'" [drag]="false" [width]="12" [top]="10" [left]="7" [rotate]="true"></app-blob>
        <app-blob [id]="'blob16'" [fill]="'none'" [strokeWidth]="1" [strokeColor]="'white'" [drag]="false" [width]="12" [top]="5" [left]="100" [rotate]="true"></app-blob>
</section>
