<header class="header">
    <ul class="menu">
        <li class="menu-item">
            <a href="#landing-page" class="menu-link">Home</a>
        </li>
        <li class="menu-item">
            <a href="#about-me" class="menu-link">Over mij</a>
        </li>
        <li class="menu-item">
            <a href="#skills" class="menu-link">Vaardigheden</a>
        </li>
        <li class="menu-item">
            <a href="#projects" class="menu-link">Projecten</a>
        </li>
        <li class="menu-item">
            <a href="#contact" class="menu-link">Contact</a>
        </li>
    </ul>

    <aside class="mobile-menu-wrapper">
        <button id="button" class="button" (click)="onClick()" ><i class="fa-solid fa-bars"></i></button>
        <ul id="mobile-menu" class="mobile-menu hidden">
            <li class="mobile-item">
                <a class="mobile-link" href="#landing-page">landing-page</a>
            </li>
            <li class="mobile-item">
                <a class="mobile-link" href="#about-me">about-me</a>
            </li>
            <li class="mobile-item">
                <a class="mobile-link" href="#skills">skills</a>
            </li>
            <li class="mobile-item">
                <a class="mobile-link" href="#projects">projects</a>
            </li>
            <li class="mobile-item">
                <a class="mobile-link" href="#contact">contact</a>
            </li>
        </ul>
    </aside>

</header>


