<figure [id]="id" class="blob" (mousedown)="startDragging()" (mouseup)="stopDragging()">
    <h2 [id]="id + '-blobtext'" class="blobtext">{{blobText}}</h2>
    <ng-container *ngIf="isBlobImg === false; else blobImage"> <!-- referentie naar #blobImage -->
        <svg id="svg" class="svg" viewBox="20 25 450 480">
            <defs>
                <linearGradient id="gradient" x1="0%" y1="0%" x2="0%" y2="100%">
                    <stop class="stop-top" offset="10%"></stop>
                    <stop class="stop-bottom" offset="100%"></stop>
                </linearGradient>
            </defs>
            <path [id]="id +'-path'" class="path" (mouseover)="hover()" (click)="click()">
                <animate [id]="id + '-animation'" attributeName="d" dur="15000ms" repeatCount="indefinite">
                </animate>
            </path>
        </svg>
    </ng-container>

    <ng-template #blobImage>
        <svg viewBox="0 0 500 500" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            class="svg" id="blobSvg">
            <defs>
                <clipPath [id]="id + '-shape'">
                    <path [id]="id + '-blobImgPath'">
                        <animate [id]="id + '-blobImgAnimation'" attributeName="d" dur="15000ms" repeatCount="indefinite"></animate>
                    </path>
                </clipPath>
            </defs>
            <image [id]="id + '-blobImg'" x="0" y="0" width="100%" height="100%" preserveAspectRatio="none"></image>
        </svg>
    </ng-template>
</figure>

