.blob{
    position: absolute;
    z-index: 1;

    .blobtext{
        position: absolute;
        width: 200px;
        top: 145px;
        left: 50px;
        color: white;
        pointer-events: none;
    }

    .svg{
        width: 100%;
    }

    .stop-top{
        stop-color:  #ff683b;
    }

    .stop-bottom{
        stop-color: #ffb9a4;
    }

    .path{
        &:active{
            cursor: grabbing !important;
        }
    }
}

@media screen and (max-width: 87.5rem){ //1400px

    .blob{
        .svg{
            width: 90%;
        }
    }
}

@media screen and (max-width: 75rem){ //1200px

    .blob{
        .svg{
            width: 80%;
        }
    }
}

@media screen and (max-width: 25rem){ //400px

    .blob{
        .svg{
            width: 45%;
        }
    }
}
