<section id="skills" class="skills">
    <h1 class="title">{{title}}</h1>
    <p class="description">{{description}}</p>
        <app-blob [isBlobImg]="true" [urlLink]="'./assets/img/html.png'" [id]="'blob18'" [fill]="'none'" [strokeWidth]="1" [strokeColor]="'white'" [drag]="false" [width]="14" [top]="6" [left]="5"></app-blob>
        <app-blob [isBlobImg]="true" [urlLink]="'./assets/img/scss.png'" [id]="'blob19'" [fill]="'none'" [strokeWidth]="1" [strokeColor]="'white'" [drag]="false" [width]="14" [top]="6" [left]="30"></app-blob>
        <app-blob [isBlobImg]="true" [urlLink]="'./assets/img/js.png'" [id]="'blob20'" [fill]="'none'" [strokeWidth]="1" [strokeColor]="'white'" [drag]="false" [width]="14" [top]="6" [left]="53"></app-blob>
        <app-blob [isBlobImg]="true" [urlLink]="'./assets/img/react.png'" [id]="'blob21'" [fill]="'none'" [strokeWidth]="1" [strokeColor]="'white'" [drag]="false" [width]="14" [top]="6" [left]="77"></app-blob>
        <app-blob [isBlobImg]="true" [urlLink]="'./assets/img/angular.png'" [id]="'blob22'" [fill]="'none'" [strokeWidth]="1" [strokeColor]="'white'" [drag]="false" [width]="14" [top]="6" [left]="100"></app-blob>
</section>

