$background: #2f3f58;
$headerColor: white;
$backgroundHeader: rgba(0, 0, 0, .05);

$fontSizeTitle: 2rem;
$fontColorTitle:#fff;

$landingPage:(
    "color":#fff,
    "btnBorder": .5rem solid white,
    "btnColor": #fff
);

$aboutMe:(
    "h1":#fff,
    "text": #fff
);

$projecten:(
    "color":#fff,
    "fontSize": 130%
);

$skills:(
    "color":#fff,
    "fontSize": 130%
);

$contact:(
    "color":#fff,
    "fontSize": 130%
);



